/* making sure the CSS works */
#wrapper {
    background-image: url(../img/css/background-gradient.png);
}
#masthead nav ul li b, 
#masthead nav ul li .current {
    background-image: url("../img/css/menu-current.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
}
h1 img:first-child {
    margin-right: 24px;
}
.box,
#addon-installation-detected {
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 0 1px #fff;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 0 1px #fff;
	box-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 0 1px #fff;
	background:#fff;
	background-image:-moz-radial-gradient(center 45px,ellipse farthest-corner,#f5f1e8 0,#fff 100%);
	background-image:-webkit-radial-gradient(center 45px,ellipse farthest-corner,#f5f1e8 0,#fff 100%);
	background-image:-o-radial-gradient(center 45px,ellipse farthest-corner,#f5f1e8 0,#fff 100%);
	background-image:radial-gradient(center 45px,ellipse farthest-corner,#f5f1e8 0,#fff 100%);
	zoom:1;
}
.box:after{
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
	content:".";
}
/* site specific CSS */
.home h1#main-feature {
    text-align: center;
}
h1#main-feature .large {
    display: inline-block;
}
#addon-installation-detected {
    color: #AF3232;
    font-weight: bold;
    position: static;
    width: auto;
    margin-bottom: 48px;
    width: 896px;
}
#primary {
	padding-top:48px;
	padding-bottom:48px;
	height:19em;
	margin-bottom:72px;
}
#primary img{
	float:right;
	margin-top:-72px;
	max-width:50%;
}
#primary p {
	margin-right:40%;
}
#primary a[href="demo/"] {
    margin-bottom: 24px;
}
#updates {
	padding: 24px;
	margin-bottom: 24px;
}
#updates p,
#updates input {
	margin: 12px 0;
}
#updates p {
	margin-bottom: 0;
}
#updates p:first-child {
	margin-top: 0;
}
#updates .title {
	font-size: 14px;
}
#updates .button {
	background-color: #DE742B; 
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #E9AE4E 0%, #DE742B 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #E9AE4E 0%, #DE742B 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #E9AE4E 0%, #DE742B 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E9AE4E), color-stop(1, #DE742B));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #E9AE4E 0%, #DE742B 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #E9AE4E 0%, #DE742B 100%);
}
#updates .button:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px rgba(241,212,114,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(241,212,114,1);
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px rgba(241,212,114,1); 
}

/* demo page */
#page {
	font-size: 12px;
	min-height: 650px;
}
#page p,
#page blockquote {
	margin-bottom: 12px;
}
#sidebar-content {
	margin-top: 0;
	padding: 0;
}
#sidebar-content blockquote {
	padding: 0 12px;
}
#sidebar-content .download {
    line-height: 30px;
    height: 90px;
    margin-bottom: 12px;
}
#sidebar-content .button:hover {
    text-decoration: none;
}
.demo .box {
	background: rgba(255, 255, 255, 0.6);
}
