@import "icons.css";

g.node.unrelated-domain image {
  display: none;
}

g.node.unrelated-domain circle.glow {
  display: none;
}

g.node.unrelated-domain circle.visited {
  stroke: #102050;
}

g.node.unrelated-domain circle.site {
  stroke: #202020;
}

g.node.unrelated-domain circle.tracker {
  stroke: #400000;
}

g.node.unrelated-domain circle.round-border {
  fill: #151515;
}

.round-border {
  fill: #fff;
  stroke-width: 2px;
}

marker {
  stroke: none;
  fill: #fff;
  fill-opacity: 1;  
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

line.bold {
  stroke: #fff;
  stroke-opacity: 1;
}

.hidden {
  display: none;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #999999;
}

a {
  color: white;
  cursor: pointer;
}

#page {
  position: relative;
  width: 640px;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  padding: 20px;
  pointer-events: none;
}

#sidebar-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin-top: 15px;
  padding-top: 30px;
  -moz-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#sidebar-inner {
  margin-top: 12px;
}

#sidebar-content.collapsed .live-data {
  opacity: 0;
}

#show-hide-ui > span {
  float: left;
}
#show-hide-ui:before {
  content: "Hide ";
}
#show-hide-ui.collapsed > span {
  background-position: -96px -120px;
}
#show-hide-ui.collapsed:before {
  content: "Show ";
}

/*  Tab titles: about  site  info  etc. */
.main-tabs{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  background: #000;
}
.main-tabs a {
  display: block;
  float: left;
  height: 100%;
  padding: 0 6px;
  color: #CCC;
}

.main-tabs a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}
.main-tabs .active,
.main-tabs .active:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  color: #FFF;
}

/* Legend */
.legend {
  padding-bottom: 12px;
  border-bottom: 1px solid #333;
}

h4 {
  margin-bottom: 5px;
}

.legend .row:after,
.legend .row:before{
  content: " ";
  display: table;
}
.legend .row:after {
  clear: both;
}

.legend .row > span {
  width: 100px;
  float: left;
  margin-top: 10px;
}
.legend svg {
  height: 50px;
  width: 60px !important;
  float: left;
  margin-right: 10px;
}
#a-to-b strong,
#a-to-b em {
  display: inline-block;
  background: white;
  height: 14px;
  width: 14px;
  text-align: center;
  border-radius: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
}
#a-to-b strong {
  color: #3388FF;
  border: 1px solid #3388FF;
}
#a-to-b em {
  color: #888;
  border: 1px solid #888;
}

#sidebar a, .info a, span.next, input {
  pointer-events: auto;
}

blockquote {
  margin-left: 10px;
  font-style: italic;
}

h2.domain img.favicon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

h2.domain img.tracker {
  height: 30px;
}

.attribution {
  margin-left: 20px;
}

.tracker {
  stroke: #d62728;
}

.site {
  stroke: #7f7f7f;
}

.visited {
  stroke: #3388ff;
}

.demo span.next {
  cursor: pointer;
  font-weight: bold;
}

.demo span.next:hover, a:hover {
  background: yellow;
  color: black;
}

.byline {
  margin-top: -10px;
}

#addon-installation-detected {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: green;
  padding: 5px;
  color: white;
  width: 100%;
  text-align: center;
}

.privacy-policy {
  font-size: 8pt;
}

.settings-menu {
  pointer-events: auto;
  color: white;
}

.settings-menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 8pt;
  border-right: 1px solid #222;
}

.settings-menu > ul > li > a {
  cursor: pointer;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  background: rgba(0, 0, 0, 0.75);
}

.settings-menu > ul > li a:first-child {
  margin-top: 0;
}

.settings-menu > ul > li > a:hover {
  color: #FFF;
  background: rgba( 255, 255, 255, 0.1 );
}

#deployment-info {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

html.deployment-production #deployment-info {
  display: none;
}

#domain-label-block-link {
  stroke: blue;
}

/* Helpers */

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

