/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
body {
  background: #5d667a;
  color:#333;
  font-family: "Open Sans", sans-serif;
  margin:0; /* unset browser styles */
  padding-bottom:16px;
}

.center { text-align: center; }
img.center, button.center { display: block; margin: 0 auto; }

img#lightbeam-logo { margin-bottom:-18px; }

body > ol, body > ul { width: 578px; margin: 0 auto; }

ol#steps {
  /* unset default styles */
  list-style-type:none;
  padding:0px;
  /* counter for custom numbers */
  counter-reset: steps-counter;
}
ol#steps > li {
  background:white;
  padding:20px;
  border-radius: 0.5em;
  margin-bottom:24px;
  position:relative;
}
ol#steps > li:before {
  content: counter(steps-counter);
  counter-increment: steps-counter;
  font-size:31px;
  font-weight:bold;
  position: absolute;
  top: 8px;
  left: -68px;
  background:white;
  width:48px;
  height:48px;
  border-radius:24px;
  text-align:center;
}
ol#steps p {
  margin:0; /* unset default styles */
  margin-bottom: 16px;
}
ol#steps > li p:last-child {
  margin-bottom: 0;
}

ul#contact {
  padding-left:16px
}

button#openLightbeam {
  font-size:18px;
  font-weight:strong;
  padding:8px;
}
