/*
  Visualization colour scheme:
  trackers: #E73547
  visited: #6CB4F9
  connections: #434242

  background: #2E2B2B
  text: #EAEAEA
  dropdown buttons: #363636
  sidebar "link" buttons: #939393
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2E2B2B;
    color: #EAEAEA;
    overflow: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td,select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
}

h3 {
    color: #EBE9E9;
    font-size: 18px;
}

.main{
    position: relative;
    height: calc(100% - 80px);
}

.mainhead{
    height: 80px;
    line-height: 80px;
    background: #333131;
}

.mainhead h1{
    margin-left: 30px;
    font-size: 20px;
}

.controls{
    width: 200px;
    padding: 15px 30px;
    float: left;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    z-index: 5;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
}

/*.controls i:not(.icon-sort-down){
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle;
}*/

.hidden{
    display: none;
}

.btn_group, 
.btn{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    background: #25292D;
    font-size: 7pt;
    letter-spacing: 1px;
}

.btn_group .dropdown_button{
    height: 32px;
    line-height: 30px;
    border-radius: 5px 0 0 0;
    padding-left: 10px;
}

.btn_group a.selected_time,
.btn_group a.selected_visualization{
    color: #EAEAEA;
}

.btn_group .arrow{
    float: right;
    /*border-left: 1px solid #555555;*/
    padding: 0 10px;
    background: #12181B;
    border-radius: 0 5px 0 0;
    cursor: pointer;
}

.collapsed {
    display: none;
}

.btn a,
.square-button{
    border-radius: 5px;
    cursor: pointer;
}

.btn_group div.dropdown_options a,
.btn a{
    margin: 0;
    display: block;
    padding-left: 10px;
    background: #303539;
    line-height: 28px;
}

.btn_group div.dropdown_options.expanded a:hover{
    cursor: pointer;
}

.btn_group div.dropdown_options a[data-selected]{
    border-radius: 0 0 5px 5px;
    background: #5F6771;
}

.btn_group div.dropdown_options.expanded a{
    border-radius: 0;
}

.btn_group div.dropdown_options.expanded a:last-child{
    border-radius: 0 0 5px 5px;
}

.btn_group div.dropdown_options a.collapsed{
    display: none;
}

.btn_group img,
.btn img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.controls ul{
    list-style-type: none;
}

.controls ul li{
    height: 40px;
    border-bottom: 1px solid #3E3D3D;
    line-height: 38px;
    padding-left: 6px;
}

.controls ul.controls_options li{
    color: #939393;
    cursor: pointer;
}

.controls .square-button-controls{
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
}

.controls .square-button-controls div{
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
}

.controls .square-button-controls div:not(:last-child){
    margin-right: 10px;
}

.controls .square-button{
    background: #25292D;
    padding: 5px;
    cursor: pointer;
}

.controls .square-button.active{
    background: #5F6771;
}

.controls .square-button img{
    width: 30px;
    height: 30px;
}

.controls .square-button-controls .button-label{
    font-size: 7pt;
    /*color: #2D3337;*/
    color: white;
    text-align: center;
    margin-top: 5px;
}

#content{
    position: relative;
    margin-left: 200px;
    z-index: 0;
    height: 100%;
    border-top: 1px solid #555555;
}

#content span,
#content p{
    font-size: 12px;
}

.info{
    width: 0;
    height: 100%;
    float: right;
    border-left: none;
    transition: width 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.map-section{
    margin-bottom: 10px;
    font-size: 10px;
}

.map-control i:hover{
    color: #fff;
}

.map-control i{
    font-size: 12px;
    margin: 0 5px;
    color: #939393;
}


.map{
    background-color: #555555;
    width: 240px;
    height: 200px;
}

.highlight-country{
    fill: #0CA0E2 !important;
}

.info .holder{
    width: 300px;
    height: 100%;
    padding: 15px 30px;
}

.info .holder .subhead {
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
}

.info .holder span{
    display: block;
}

.info .holder .favicon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.showinfo .info{
    width: 300px;
    border-left: 1px solid #555555;
}

.info .blue-text {
    color: #5A50F0;
    font-size: 10px;
}

.info .filters{
    margin-bottom: 1em;
}

.info .filters h2{
    white-space: nowrap;
    font-size: 10px;
    font-color: #CCC;
    width: 100%;
}

.info .closed p{
    display: none;
}

.info .disclosure{
    cursor: pointer;
}
.info .disclosure:before{
    content: "▼";
    padding-right: 1em;
}

.info .closed .disclosure:before{
    content: "▶";
}

.sorted::after{
    content: '▼';
}

.reverse-sorted::after{
    content: '▲';
}

.connections-list ul{
    font-size: 12px;
    line-height: 15px;
    list-style-type: none;
    cursor: pointer;
    height: 75px;
    overflow-y: auto;
}

.connections-list ul li:hover,
.settings-page ul li:hover{
    color: #2E2B2B;
    background-color: #EBE9E9;
}

.stage{
    position: relative;
    height: 100%;
    margin-right: 1px;
    transition: margin-right 0.5s ease;
}
.showinfo .stage{
    margin-right: 300px;
}

/* SVG STYLES */

text {
    fill: #777;
    font-family: Helvetica;
    font-size: 9px;
    font-variant: small-caps;
    text-anchor: middle;
}

#tooltip{
    display: none;
    position: absolute;
    background-color: #CCC;
    color: #010203;
    padding: 10px;
}
#tooltip:after{
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #CCC;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

/* CLOCK Visualization */

.howMany{
    font-size: 0.8em;
    color: #343533;
}

.source{
    fill: #128764;
    stroke: none;
}

.target{
    fill: #FA6900;
    stroke: none;
}


.source text, .target text{
    font-size: 6px;
    text-anchor: right;
    stroke: #FFF;
    visibility: hidden;
}

.clock-time{
    font-size: 24px;
    font-weight: bold;
    fill: #CCC;
    visibility: visible;
    stroke: none;
    font-variant: normal;
}

.clock-date{
    font-size: 28px;
    font-weight: lighter;
    fill: #CCC;
    visibility: visible;
    stroke: none;
    font-variant: normal;
}

.tracker rect{
    visibility: hidden;
}

.tracker:hover text, .tracker:hover rect{
    visibility: visible;
}

#timerhand{
    fill: rgba(79, 129, 85, .6);
    stroke: rgba(79, 129, 85, .6);
    strokewidth: 3px;
}

line{
    stroke: #FFF;
}

.greyed-out{
    opacity: 0.2;
}

.clicked-node.node{
    stroke-width: 2;
    fill: #fff;
}

.clicked-node.node.source {
    stroke: #128764;
}

.clicked-node.node.target{
    stroke: #FA6900;
}

.colluded-source.node, .colluded-target.node{
    stroke: #fff;
    stroke-width: 1;
}

/* Graph Visualization */

.edge{
    stroke: #FFF;
}

.node{
    stroke-width: 4;
}

.secureYes{
    /* stroke: #1ABE15; */
}

.secureNo{
    /* stroke: #CE1105; */
}

.secureBoth{
    /* stroke: #00FF00; */
}

.cookieYes{
    /* fill: #1E55EE; */
}

.cookieNo{
    /* fill: #FEEB1E; */
}

.cookieBoth{
    /* fill: #EA5E15; */
}


/* List Visualization */
.hide {
    display: none;
    width: 0;
    height: 0;
}

.stage.list{
    overflow-y: auto;
}

.list-breadcrumb {
    height: 20px;
    margin-bottom: 5px;
}

.list-breadcrumb a{
    color: rgba(130,130,130,0.7);
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
}

.list-breadcrumb a[filter-by]{
    cursor: pointer;
}

.list-breadcrumb a[filter-by]:hover{
    color: rgba(180,180,180,1);
}

.list-header {
    padding: 10px;
    color: white;
    font-size: 15px;
    background: rgba(255,255,255,0.3);
    margin: 5px 40px;
}

.list-table{
    border-collapse: collapse;
    margin-left: 50px;
    font-size: 12px;
}

.list-table th,
.list-table td{
    min-width: 120px;
    border-bottom: 1px solid #555;
    line-height: 35px;
    margin: 0;
}

.list-table th{
    text-align: left;
}

.list-table td{
    padding-right: 30px;
}

.list-table tr[site-url]{
    cursor: pointer;
}

.list-table tbody tr:hover{
    background: rgba(0,0,0,0.2);
}

.list-table .visited-row td{
    color: #6178FA;
}

.list-table .third-row td{
    color: #FF617B;
}

/* Help Mode */
#help{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.highlighted-elm{
    fill: white;
    stroke: white;
    stroke-width: 3;
}

.help-bubble{
    position: absolute;
    background: rgba(46,43,43,1);
    color: white;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 2px 5px;
    min-width: 130px;
    max-width: 160px;
    font-size: 15px;
}

.help-bubble-line{
    position: absolute;
    stroke: rgb(255,255,255);
    stroke-width: 3;
}

.help-bubble-pointer{
    fill: #fff;
}



/* Settings Page */

.settings-page{
    width: 100%;
    padding: 30px 10px 0 50px;
    color: #939393;
}

.page-header{
    font-size: 22px;
    margin-bottom: 25px;
}

.settings-page header{
    color: #fff;
    margin: 10px 0;
    font-size: 16px;
}

.settings-page section{
    font-size: 15px;
    margin-bottom: 40px;
}

.settings-page .num-sites{
    color: #5A50F0;
}

.settings-page ul{
    width: 400px;
    list-style-type: none;
    cursor: pointer;
    overflow-y: auto;
}

.settings-page ul li{
    padding: 1px 0;
    clear: both;
    overflow: auto;
}

.settings-page i{
    float: left;
    position: relative;
    top: 2px;
}

.settings-page .site-url{
    float: left;
}
.settings-page .settings-option{
    font-size: 12px;
    padding-left: 15px;
    clear: both;
}


