/*
  Visualization colour scheme:
  trackers: #E73547
  visited: #6CB4F9
  connections: #434242

  background: #2E2B2B
  text: #EAEAEA
  dropdown buttons: #363636
  sidebar "link" buttons: #939393
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2E2B2B;
    color: #EAEAEA;
    overflow: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td,select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.main{
    position: relative;
    height: calc(100% - 80px);
}

.mainhead{
    height: 80px;
    line-height: 80px;
    background: #333131;
}

.mainhead h1{
    margin-left: 30px;
    font-size: 20px;
}

.controls{
    width: 200px;
    padding: 15px 30px;
    float: left;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    z-index: 5;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
}

.controls i:not(.icon-sort-down){
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle;
}

.btn_group > *{
    background: #363636;
}

.btn_group{
    width: 100%;
    position: relative;
    cursor: pointer;
    font-size: 12px;
}

.btn_group .dropdown_button{
    height: 32px;
    line-height: 30px;
    border: 1px solid #555555;
    border-radius: 2px;
    padding-left: 10px;
}

.btn_group a.selected_time,
.btn_group a.selected_visualization{
    color: #EAEAEA;
}

.btn_group .downarrow{
    float: right;
    border-left: 1px solid #555555;
    padding: 0 10px;
}

.collapsed {
    display: none;
}

.invi_focus:focus{
    outline: none;
}

.controls .btn_group .dropdown_options{
    line-height: 28px;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.controls .btn_group div.dropdown_options a{
    margin: 0;
    display: block;
    padding-left: 10px;
    border-color: #555555;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    line-height: 28px;
}

.controls .btn_group div.dropdown_options a[data-selected]{
    display: none;
}

.controls ul{
    list-style-type: none;
}

.controls ul li{
    height: 40px;
    border-bottom: 1px solid #3E3D3D;
    line-height: 38px;
    padding-left: 6px;
}

.controls .controls_options a{
    color: #939393;
}

.controls a:hover{
    color: white;
}

#content{
    position: relative;
    margin-left: 200px;
    z-index: 0;
    height: 100%;
    border-top: 1px solid #555555;
}

#content span,
#content p{
    font-size: 12px;
}

.info{
    width: 0;
    height: 100%;
    float: right;
    border-left: none;
    transition: width 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.map{
    width: 240px;
    height: 200px;
    background-color: #555555;
    margin-bottom: 10px;
}

.info .holder{
    width: 300px;
    height: 100%;
    padding: 15px 30px;
}

.info .holder .subhead {
    padding: 10px 0;
}

.info .holder span{
    display: block;
}

.showinfo .info{
    width: 300px;
    border-left: 1px solid #555555;
}

.status {
    color: #667efc;
}

.stage{
    height: 100%;
    margin-right: 1px;
    transition: margin-right 0.5s ease;
}
.showinfo .stage{
    margin-right: 300px;
}

/* SVG STYLES */

text {
    fill: #777;
    font-family: Helvetica;
    font-size: 9px;
    font-variant: small-caps;
    text-anchor: middle;
}

#tooltip{
    display: none;
    position: absolute;
    background-color: #CCC;
    color: #000;
    padding: 10px;
}
#tooltip:after{
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #CCC;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}


.tracker{
    fill: #777;
    stroke: none;
}

.tracker text{
    font-size: 6px;
    text-anchor: right;
    stroke: #FFF;
    visibility: hidden;
}

.tracker rect{
    visibility: hidden;
}

.tracker:hover text, .tracker:hover rect{
    visibility: visible;
}

#timerhand{
    fill: rgba(79, 129, 85, .6);
    stroke: rgba(79, 129, 85, .6);
    strokewidth: 3px;
}

