/*
  Visualization colour scheme:
  trackers: #E73547
  visited: #6CB4F9
  connections: #434242

  background: #2E2B2B
  text: #EAEAEA
  dropdown buttons: #363636
  sidebar "link" buttons: #939393
*/
 

/*  New colour scheme:
    sidebar, info panel 
        background:#404850
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #EAEAEA;
    overflow: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td,select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
}

h3 {
    color: #EBE9E9;
    font-size: 18px;
}

.main{
    position: relative;
    height: 100%;
}

.controls{
    width: 170px;
    padding: 15px 15px;
    float: left;
    z-index: 5;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    background: #404850;
}

.controls .btn{
    width:100%;
}

.controls header{
    height: 35px;
    margin-bottom: 20px;
}

.collusion-icon{
    border:1px solid #5ABED2; 
    width: 35px; 
    height: 35px; 
    border-radius: 5px;
    float: left;
}

.logo{
    float: left;
    width: 85px;
    margin-left: 10px;
}

.hidden{
    display: none;
}

/* Button Styling =============== */

.btn a:hover,
.square-button a:hover,
button.btn{
    background: #475B61;
}

.btn_group, 
.btn{
    margin-bottom: 15px;
    background: #25292D;
    font-size: 7pt;
    letter-spacing: 1px;
    border-radius: 5px;
}

.btn_group .dropdown_button{
    height: 32px;
    line-height: 30px;
    border-radius: 5px 0 0 0;
    padding-left: 10px;
}

.btn_group a.selected_time,
.btn_group a.selected_visualization{
    color: #EAEAEA;
}

.btn_group .arrow{
    float: right;
    padding: 0 10px;
    background: #12181B;
    border-radius: 0 5px 0 0;
    cursor: pointer;
}

.collapsed {
    display: none;
}

.btn a,
.square-button a{
    border-radius: 5px;
    cursor: pointer;
}

.btn_group div.dropdown_options a,
.btn a{
    margin: 0;
    display: block;
    padding-left: 10px;
    background: #303539;
    line-height: 28px;
}
.btn.orange a, button.btn.orange{
    background: rgb(250, 105, 0);
}
.btn.orange a:hover, button.btn.orange:hover{
    background: rgb(200, 75, 0);
}

.btn_group .dropdown_options.expanded a:hover{
    cursor: pointer;
    background: #475B61;
}

.btn_group .dropdown_options a[data-selected]{
    border-radius: 0 0 5px 5px;
    background: #5F6771;
}

.btn_group .dropdown_options.expanded a{
    border-radius: 0;
}

.btn_group .dropdown_options.expanded a:last-child{
    border-radius: 0 0 5px 5px;
}

.btn_group .dropdown_options a.collapsed{
    display: none;
}

.btn_group img,
.btn img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.controls ul{
    list-style-type: none;
}

.controls ul li{
    height: 40px;
    border-bottom: 1px solid #3E3D3D;
    line-height: 38px;
    padding-left: 6px;
}

.controls ul.controls_options li{
    color: #939393;
    cursor: pointer;
}

.controls .square-button-controls{
    position: fixed;
    bottom: 30px;
    margin-bottom: 20px;
}

.controls .collusion-url{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.square-button{
    float: left;
    cursor: pointer;
    text-align: center;
}

.square-button:not(:last-child){
    margin-right: 20px;
}

.square-button a{
    display: block;
    background: #25292D;
    width: 18px;
    height: 18px;
    padding: 5px;
    margin: 0 auto;
}

.square-button.active{
    background: #5F6771;
}

.square-button img{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
}

.square-button .button-label{
    font-size: 7pt;
    color: #fff;
    margin-top: 5px;
    text-align: center;
}


#content{
    flex:1;
    position: relative;
    z-index: 0;
    border-top: 1px solid #555555;
    height: 100%;
}

#content span,
#content p{
    font-size: 12px;
}

.content-flex{
    display:flex;
    flex-direction:column;
    height:100%;
    width:calc(100% - 170px);
}

.stats-bar{
    height: 80px;
    background-color:#fff;
    flex:none;
}

.info{
    width: 0;
    height: 100%;
    float: right;
    border-left: none;
    transition: width 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    background: #404850;
}

.map-section{
    margin-bottom: 10px;
    font-size: 10px;
}

.map-control i:hover{
    color: #fff;
}

.map-control i{
    font-size: 12px;
    margin: 0 5px;
    color: #939393;
}


.map{
    background-color: #555555;
    width: 240px;
    height: 200px;
}

.highlight-country{
    fill: #0CA0E2 !important;
}

.info .holder{
    width: 300px;
    height: 100%;
    padding: 15px 30px;
}

.info .holder .subhead {
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
}

.info .holder span{
    display: block;
}

.info .holder .favicon{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.showinfo .info{
    width: 300px;
}

.info .blue-text {
    color: #5A50F0;
    font-size: 10px;
}

.info .filters{
    margin-bottom: 1em;
}

.info .filters h2{
    white-space: nowrap;
    font-size: 10px;
    font-color: #CCC;
    width: 100%;
}

.info .closed p{
    display: none;
}

.info .disclosure{
    cursor: pointer;
}
.info .disclosure:before{
    content: "▼";
    padding-right: 1em;
}

.info .closed .disclosure:before{
    content: "▶";
}

.sorted:after, .reverse-sorted:after{
    padding:0px 5px;
    content: '▾';
    display: inline-block;
    position: relative;
    -moz-transition:all 0.3s linear;
}

.sorted:after{
    transform:rotate(0deg);
}

.reverse-sorted:after{
    transform:rotate(180deg);
}

.connections-list ul{
    font-size: 12px;
    line-height: 15px;
    list-style-type: none;
    cursor: pointer;
    height: 75px;
    overflow-y: auto;
}

.connections-list ul li:hover,
.settings-page ul li:hover{
    color: #2E2B2B;
    background-color: #EBE9E9;
}

.stage-stack{
    padding:20px 40px;
    flex-direction: column;
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.stage-header{
    flex: none;
}
.stage-header h1{
    font-family:"Helvetica Neue", Arial, sans-serif;;
    font-weight: 100;
}
.stage-header .data-since-title{
    color:#A0D8E9;
    font-weight:bold;
}

.stage{
    flex: 1;
    margin: 20px 0px;
}
.showinfo .stage-stack{
    margin-right: 300px;
}

.list-footer{
    flex: none;
    display: none;
}

.list .list-footer{
    display: block;
}
.list-footer h3{
    font-size: 12px;
    color:#A0D8E9;
    font-weight: 600;
    margin-bottom:10px;
}
.list-footer-btns{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.list-footer-btns .btn{
    margin-right:20px;
    color: rgb(234, 234, 234);
    padding: 10px;
    border: 0;
}
.list-footer-btns .btn a{
    padding-right:10px;
}
.btn-spacer{
    flex:1;
}



/* SVG STYLES */

text {
    fill: #777;
    font-family: Helvetica;
    font-size: 9px;
    font-variant: small-caps;
    text-anchor: middle;
}

#tooltip{
    display: none;
    position: absolute;
    background-color: #CCC;
    color: #010203;
    padding: 10px;
}
#tooltip:after{
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #CCC;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
}

/* CLOCK Visualization */

.howMany{
    font-size: 0.8em;
    color: #343533;
}

.source{
    fill: #128764;
    stroke: none;
}

.target{
    fill: #FA6900;
    stroke: none;
}


.source text, .target text{
    font-size: 6px;
    text-anchor: right;
    stroke: #FFF;
    visibility: hidden;
}

.clock-time{
    font-size: 24px;
    font-weight: bold;
    fill: #CCC;
    visibility: visible;
    stroke: none;
    font-variant: normal;
}

.clock-date{
    font-size: 28px;
    font-weight: lighter;
    fill: #CCC;
    visibility: visible;
    stroke: none;
    font-variant: normal;
}

.tracker rect{
    visibility: hidden;
}

.tracker:hover text, .tracker:hover rect{
    visibility: visible;
}

#timerhand{
    fill: rgba(79, 129, 85, .6);
    stroke: rgba(79, 129, 85, .6);
    strokewidth: 3px;
}

.greyed-out{
    opacity: 0.2;
}

.clicked-node.node{
    stroke-width: 2;
    fill: #fff;
}

.clicked-node.node.source {
    stroke: #128764;
}

.clicked-node.node.target{
    stroke: #FA6900;
}

.colluded-source.node, .colluded-target.node{
    stroke: #fff;
    stroke-width: 1;
}

/* Graph Visualization */

.cookieYes,
.cookieNo,
.cookieBoth{
    stroke: #FFFFFF;
    stroke-width: 2;
}

.visitedSites,
.unvisitedSites{
    fill: #FFF;
}

.connectionLine{
    stroke: #FFF;
    stroke-width: 2;
}

.watchedSites{
    fill: #FFF;
    stroke: #268CB7;
    stroke-width: 2;
}

.blockedSites{
    fill: #FFF;
    stroke: #FF0000;
    stroke-width: 2;
}

.hiddenSites{
    fill: #FFF;
    stroke: #FA9828;
    stroke-width: 2;
}

.edge{
    stroke: #FFF;
    opacity: 0.5;
}

.visitedYes,
.visitedNo,
.visitedBoth{
    fill: #FFFFFF;
    opacity: 0.5;
}

.visitedYes.highlighted,
.visitedNo.highlighted,
.visitedBoth.highlighted,
.edge.highlighted{
    opacity: 1;
}

.cookieYes.coloured,
.cookieBoth.coloured,
.cookies{
    stroke: #800080;
    stroke-width: 2;
}

/* List Visualization */
.hide {
    display: none;
    width: 0;
    height: 0;
}


.list-table{
    border-collapse: collapse;
    font-size: 12px;
    height: 100%;
}

.list-table table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.header-table{
    background-color:#404040;
    margin-right: 20px;
}

.body-table{
    height: calc(100% - 40px);
    overflow-y: scroll;
}


.list-table th,
.list-table td{
    border-bottom: 1px solid #555;
    line-height: 35px;
    margin: 0;
}

.list-table th{
    text-align: left;
    cursor:pointer;
    -moz-user-select: -moz-none !important;
}

.list-table tr[site-url]{
    cursor: pointer;
}

[data-pref=watch]{
    color: teal;
}

.preferences{
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

[data-pref=watch] .preferences{
    background-image: url(icons/collusion_icon_watch.png);
}

[data-pref=block]{
    color: red;
}

[data-pref=block] .preferences{
    background-image: url(icons/collusion_icon_block.png);
}

[data-pref=hide]{
    color: orange;
}

[data-pref=hide] .preferences{
    background-image: url(icons/collusion_icon_hide.png);
}

.hide-hidden-rows [data-pref=hide]{
    display: none;
}

.list-table tbody tr:hover{
    background: #475B64;
}

.list-table .visited-row td{
    color: #6178FA;
}

.list-table .third-row td{
    color: #FF617B;
}

.header-table th:nth-child(1), .body-table td:nth-child(1){
    padding-left:10px;
    width: 35px;
}

.header-table th:nth-child(2), .body-table td:nth-child(2){
    width: 6em;
}

.header-table th:nth-child(3), .body-table td:nth-child(3){
    width: 5em;
}

.body-table td:nth-child(4) img{
    width: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.header-table th:nth-child(5), .body-table td:nth-child(5){
    width: 10em;
}

.header-table th:nth-child(6), .body-table td:nth-child(6){
    width: 10em;
}

.header-table th:nth-child(7){
    width: 95px;
}
.body-table td:nth-child(7){
    width: 80px;
}

/* Help Mode */
#help{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
}

.highlighted-elm{
    fill: white;
    stroke: white;
    stroke-width: 3;
}

.help-bubble{
    position: absolute;
    background: rgba(46,43,43,1);
    color: white;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 2px 5px;
    min-width: 130px;
    max-width: 160px;
    font-size: 15px;
}

.help-bubble-line{
    position: absolute;
    stroke: rgb(255,255,255);
    stroke-width: 3;
}

.help-bubble-pointer{
    fill: #fff;
}



/* Settings Page */

.settings-page{
    width: 100%;
    padding: 30px 10px 0 50px;
    color: #939393;
}

.page-header{
    font-size: 22px;
    margin-bottom: 25px;
}

.settings-page header{
    color: #fff;
    margin: 10px 0;
    font-size: 16px;
}

.settings-page section{
    font-size: 15px;
    margin-bottom: 40px;
}

.settings-page .num-sites{
    color: #5A50F0;
}

.settings-page ul{
    width: 400px;
    list-style-type: none;
    cursor: pointer;
    overflow-y: auto;
}

.settings-page ul li{
    padding: 1px 0;
    clear: both;
    overflow: auto;
}

.settings-page i{
    float: left;
    position: relative;
    top: 2px;
}

.settings-page .site-url{
    float: left;
}
.settings-page .settings-option{
    font-size: 12px;
    padding-left: 15px;
    clear: both;
}



/* Legend for Graph */

.graph-legend{
    margin-right: 30px;
    flex: none;
}

.graph-legend .legend-header{
    overflow: hidden;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.legend-header div:first-of-type{
    float: left;
}

.legend-header div:last-of-type{
    float: right;
}

.graph-legend header{
    display: inline-block;
    font-size: 15px;
    color: #4CC7E6;
    margin-bottom: 3px;
}

.graph-legend .legend-toggle{
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.graph-legend .legend-controls{
    clear: both;
    padding: 10px 0;
}

.graph-legend .column{
    float: left;
}

.graph-legend .column .btn{
    width: 170px;
    margin-right: 30px;
    margin-bottom: 8px;
    opacity: 0.4;
}

.graph-legend .column .btn:hover{
    opacity: 1;
}

.graph-legend .column .btn.active{
    opacity: 1;
}

.graph-legend .legend-canvas-small,
.graph-legend .legend-canvas-large{
    height: 18px;
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.graph-legend .legend-canvas-small{
    width: 17px;
}

.graph-legend .legend-canvas-large{
    width: 34px;
}
