/*
  Visualization colour scheme:
  trackers: #E73547
  visited: #6CB4F9
  connections: #434242

  background: #2E2B2B
  text: #EAEAEA
  dropdown buttons: #363636
  sidebar "link" buttons: #939393
*/

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2E2B2B;
    color: #EAEAEA;
    overflow: visible;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td,select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
}

.main{
    position: relative;
    height: calc(100% - 80px);
}

.mainhead{
    height: 80px;
    line-height: 80px;
}

.mainhead h1{
    margin-left: 30px;
}

.controls{
    width: 200px;
    padding: 15px 30px;
    float: left;
    border-top: 2px solid #363636;
    border-right: 2px solid #363636;
    z-index: 5;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
}

.controls .btn_group > *{
    background: #363636;
}

.controls .btn_group{
    width: 100%;
    margin-bottom: 7px;
    position: relative;
}

.controls .btn_group .dropdown_button{
    height: 30px;
    line-height: 28px;
    border: 1px solid #939393;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.controls .btn_group a.selected_time, .controls .btn_group a.selected_visualization{
    color: #EAEAEA;
}

.controls .btn_group .downarrow{
    float: right;
    border-left: 1px solid #939393;
    padding: 0px 10px;
}

.collapsed {
    /* display: none; */
    display: none;
}

.overlayed{
    z-index: 100;
}

.controls .btn_group .dropdown_options{  /* === need specification === */
    border-radius: 5px;
    border-color: #363636;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    line-height: 28px;
    position: absolute;
    width: 100%;
}

.controls .btn_group ul.dropdown_options li{
    margin: 0;
    width: 100%;
    padding-left: 10px;
    border-color: #939393;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    line-height: 28px;
}

.controls .btn_group ul.dropdown_options li[data-selected]{
    display: none;
}

.controls .btn_group ul.dropdown_options li:hover{
    background: #000000;
    color: #939393;
}

.controls select{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #363636;
    color: #EAEAEA;
}


.controls ul{
    list-style-type: none;
}

.controls ul li{
    height: 30px;
    border-bottom: 2px solid #363636;
    line-height: 28px;
    padding-left: 10px;
}

.controls .controls_options a{
    color: #939393;
}

.controls a:hover{
    color: white;
}

#content{
    position: relative;
    margin-left: 200px;
    z-index: 0;
    height: 100%;
    border-top: 2px solid #363636;
}

.info{
    width: 0px;
    height: 100%;
    float: right;
    border-left: 2px solid #363636;
    transition: width 0.5s ease;
}

.map{
    width: 240px;
    height: 200px;
    background-color: #000060;
    margin-bottom: 10px;
}

.info .holder{
    width: 300px;
    height: 100%;
    padding: 15px 30px;
}

.info .holder .subhead {
    padding: 10px 0px;
}

.showinfo .info{
    width: 300px;
}

.status {
    color: #007fff;
}

.stage{
    height: 100%;
    margin-right: 0;
    transition: margin-right 0.5s ease;
}
.showinfo .stage{
    margin-right: 300px;
}

/* SVG STYLES */

text {
    fill: #777;
    font-family: Helvetica;
    font-size: 9px;
    font-variant: small-caps;
    text-anchor: middle;
}

.tracker{
    fill: #777;
    stroke: none;
}

#timerhand{
    fill: #4F8154;
    stroke: #4F8154;
    strokewidth: 3px;
}

