/* On demo.html, the graph is shown against light background instead of dark 
   so make the bold arrows black instead of white. */

line.bold {
  stroke: #000;
}

marker {
  fill: #000;
}

g.node.unrelated-domain circle.visited {
  stroke: #a0a0e0;
}

g.node.unrelated-domain circle.site {
  stroke: #b0b0b0;
}

g.node.unrelated-domain circle.tracker {
  stroke: #d6a0a0;
}

g.node.unrelated-domain circle.round-border {
  fill: #e0e0e0;
}
