
g.node.unrelated-domain image {
  display: none;
}

g.node.unrelated-domain circle.glow {
  display: none;
}

g.node.unrelated-domain circle.visited {
  stroke: #102050;
}

g.node.unrelated-domain circle.site {
  stroke: #202020;
}

g.node.unrelated-domain circle.tracker {
  stroke: #400000;
}

g.node.unrelated-domain circle.nocookie {
  stroke: #000040;
}

g.node.unrelated-domain circle.round-border {
  fill: #151515;
}

.round-border {
  fill: #fff;
  stroke-width: 2px;
}

marker {
  stroke: none;
  fill: #fff;
  fill-opacity: 1;  
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

line.bold {
  stroke: #fff;
  stroke-opacity: 1;
}

.hidden {
  display: none;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #999999;
}

a {
  color: white;
}

#page {
  position: relative;
  width: 640px;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  padding: 20px;
  pointer-events: none;
}

#sidebar a, .info a, span.next {
  pointer-events: auto;
}

blockquote {
  margin-left: 10px;
  font-style: italic;
}

h2.domain img.favicon {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

h2.domain img.tracker {
  height: 30px;
}

.attribution {
  margin-left: 20px;
}

.tracker {
  stroke: #d62728;
}

.nocookie {
  stroke: #0000aa;
}

.site {
  stroke: #7f7f7f;
}

.visited {
  stroke: #3388ff;
}

.demo span.next {
  cursor: pointer;
  font-weight: bold;
}

.demo span.next:hover, a:hover {
  background: yellow;
  color: black;
}

.byline {
  margin-top: -10px;
}

#sidebar-content {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin-top: 15px;
}

#addon-installation-detected {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: green;
  padding: 5px;
  color: white;
  width: 100%;
  text-align: center;
}

.privacy-policy {
  font-size: 8pt;
}

div.settings-menu {
  padding: 5px;
  pointer-events: auto;
  color: white;
}

div.settings-menu > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 8pt;
}

div.settings-menu > ul > li {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.75);
}

div.settings-menu > ul > li:first-child {
  margin-top: 0px;
}

div.settings-menu > ul > li:hover {
  background: white;
  color: black;
}

#deployment-info {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

html.deployment-production #deployment-info {
  display: none;
}


